<div class="row">
  <div class="span3">
    <%= render "shared/sidebar" %>
  </div>
  <div class="span9">
    <p><%= render "books/search" %></p>
    <% if @rents.present? %>
      <div id="rents">
        <table class="table table-bordered table-hover"><thead>
          <tr>
            <th>Book</th>
            <th>Rented by</th>
            <th>Status</th>
            <th>Expected at</th>
            <th>&nbsp;</th>
          </tr>
        </thead><tbody>
          <% @rents.each do |rent| %>
            <tr>
              <td><%= rent.book.title %></td>
              <td><%= rent.student.name %></td>
              <td><%= statuses rent %></td>
              <td><%= rent.delivery_expected_at.strftime("%B %d, %Y") %></td>
              <td class="center">
                <%= link_to '', '#', :class => 'icon-eye-open' %>&nbsp;
                <%= link_to '', '#', :class => 'icon-ok' %>
              </td>
            </tr>
          <% end %>
        </tbody></table>
      </div>
    <% else %>
      <p class="alert"><b>Atention!</b> record not found.</p>
    <% end %>
  </div>
</div>
