<div class="row">
  <div class="span3"><h1>Books</h1></div>
  <div class="span9">
    <br>
    <%= render "search" %>
  </div>
</div>

<div id="books" class="row">
  <% if @books.present? %>
    <% @books.each do |book| %>
    <div class="span3">
      <figure>
        <figcaption>
          <h3><%= book.title %></h3>
          <p class="author"><%= book.author.name %></p>
        </figcaption>
        <%= image_tag book.image %> 
      </figure>
      <div class="actions">
        <% if book.is_available %>
          <%= link_to "Catch it", book_path(book), :class => "btn btn-large btn-success" %>
        <% else %>
          <%= link_to "Check availability", book_path(book), :class => "btn btn-large btn-warning" %>
        <% end %>
      </div>
    </div>
    <% end %>
  <% else %>
    <p class="alert"><b>Atention!</b> <br /> Sorry, no book was found. <%= link_to "See all", root_path %>.</p>
  <% end %>
</div>