<div class="row">
  <div class="span3">
    <%= render "shared/sidebar" %>
  </div>
  <div class="span9">
    <p><%= render "search" %></p>
    <div id="book" class="row">
      <div class="span3">
        <figure>
          <%= image_tag @book.image %>
        </figure>
      </div>
      <div class="span6 details">
        <h2><%= @book.title %></h2>
        <p class="author"><%= @book.author.name %> <%= get_status @book %></p>

        <div id="form-rent">
          <% if @book.is_available %>
            <%= semantic_form_for @rent do |f| %>
              <%= f.input :book_id, :as => :hidden, :input_html => { :value => @book.id } %>
              <label>Choose a students</label>
              <div class="input-append">
                <%= f.input :student_id, :as => :select, :label => false, :collection => @students %>

                <%= f.button "Catch it", :class => "btn btn-success" %>
              </div>
            <% end %>
            <%= link_to "back to books", books_path, :class => "btn btn-mini" %>
          <% else %>
            <div class="alert">The book was leased by <b><%= @current_rent.student.name %></b> and is expected to 
            be delivered on <b><%= @current_rent.delivery_expected_at.strftime("%B %d, %Y") %></b>. <br>
            <b>Employee who leased the book</b>: <i><%= @current_rent.user.name %></i>.</div>

              <%= semantic_form_for @current_rent do |f| %>
                <%= f.button "receive book", :class => "btn btn-warning" %>
                <%= link_to "back to books", books_path, :class => "btn btn-mini" %>
              <% end %>
          <% end %>
            
        </div>
      </div>
    </div>
  </div>
</div>