<!DOCTYPE html>
<html><head>
  <title>Get Your Book</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>
</head><body>
<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="navbar-inner"><div class="container">
    <a class="brand" href="./index.html">Bootstrap</a>
  </div></div>
</div>

<div class="container-fluid"><div class="row-fluid">
  <div class="span2">
    <ul>
      <li><%= link_to "Home", "#"%></li>
      <li><%= link_to "Sair", "#"%></li>
    </ul>
  </div>

  <div class="span10">
    <%= yield %>
  </div>
</div></div>

<%= javascript_include_tag "application" %>
</body></html>