<!DOCTYPE html>
<html><head>
  <title>Get Your Book</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>

  <!--[if lt IE 8]><%= stylesheet_link_tag "application-ie", media: "all" %><![endif]-->

  <%= favicon_link_tag %>
</head><body>

<div class="container"><%= yield %></div>

<%= javascript_include_tag "application" %>

</body></html>